body {
    background-color: black;
    color: white;
}

hr { 
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center;
}

.card {
    max-width: 190px;
    /* max-height: 150px; */
    /* margin: auto; */
}

.card-header, .card-footer{
    background-color: black;
    color: white;
}
